body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  scroll-behavior: smooth;
}

form {
    background-color: whitesmoke;
    padding-bottom: 5px;
  border: 5px solid #bdbdbd18;
  border-radius: 20px;
  max-width: 400px;
    margin: 80px auto;
    
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  width: auto;
  padding: 0.8rem 4rem;
  font-size: 1rem;
  margin-left: 3.5rem;
  background-color: white;
  color: #000000;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2e7d32;
  color: white;
  transform: translateY(-2px);
}
h1 {
  text-align: center;
  font-size: 24px;
}
.formcontainer {
  text-align: left;
  margin: 6px 50px 50px;
}
.container {
  padding: 16px 0;
  text-align: left;
}
span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}
@media screen and (max-width: 480px) {
  form {
    width: 90%;
    margin: 150px auto;
    padding: 0rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 1rem;
  }

  button {
    width: 100%;
    margin-left: 0;
    padding: 0.8rem;
  }

  h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  span.psw {
    display: block;
    float: none;
    text-align: center;
    padding-top: 10px;
  }


}
